/**
* @include _setKeyframes($key) {$value};
*
* @param $key (Require) The name of keyframe
* @param $value
*/
@include _setKeyframes(sass-settings-test-keyframes-1) {
  background-color: red;
}
@include _setKeyframes(sass-settings-test-keyframes-2) {
  from {background: red;}
  to {background: yellow;}
}
@include _setKeyframes(sass-settings-test-keyframes-3) {
  0% {background: red;}
  100% {background: yellow;}
}