// @param $nowrap {Boolean}
// @example
// 		@include _shortText(false);
//
//      @include _shortText();
//
@mixin _shortText($nowrap: true) {
  white-space: nowrap;
  @if ($nowrap) {
    white-space: nowrap;
  }
  text-overflow: ellipsis;
  overflow: hidden;
}