// @param $nowrap {Boolean}
// @example
// 		@include _shortText(false);
//
//      @include _shortText();
//
@mixin _shortText($nowrap: true) {
  @if ($nowrap) {
    white-space: nowrap;
  }
  text-overflow: ellipsis;
  overflow: hidden;
}

// test
@include _shortText();
@include _shortText(true);
@include _shortText(false);