/**
* @param $key [ bgcolor ]
* @param $value
* @example
*		@include _setKeyframes($key) {
*			$value
*		};
*
*		@include _setKeyframes(bgcolor) {
*			background-color: #ffccf2;
*		}
*
*		@include SetKeyframes(myfirst) {
*			from {background: red;}
*			to {background: yellow;}
*		}
*/
@include _setKeyframes(bgcolor) {
  background-color: #ffccf2;
}